#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card-main {
  display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}
.card-main img{
  height: 256px;
  object-fit: cover;
}
